
.service__item{
    padding: 1rem;
    display: flex;
    align-items: center;
    column-gap: .8rem;
    border-radius: 5px;
    cursor: pointer;
}

.service__item span i{
    font-size: 2.2rem;
    background: black;
    border-radius: 50%;
    color: #fff;
    padding: 10px;
}

.service__item h3{
    font-size: 1.2rem;
    font-weight: 600;
}

.service__item p{
    font-size: .9rem;
    margin-top: 5px;
    color: rgb(64, 64, 64);
}