.table tr td img{
    width: 100px;
    object-fit: cover;
}

td i{
    cursor: pointer;
}

.checkout__btn button a{
    text-decoration: none;
    color: #fff;
}

.checkout__btn button a:hover{
    color: blue;
}